In [2]:
import pandas as pd 
from scipy.stats import pearsonr
df = pd.read_csv("general_data.csv")

In [3]:
dumm=pd.get_dummies(df["Attrition"])
df = pd.concat([df,dumm],axis=1)
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,No,Yes
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,11,8,0,1.0,6,1,0,0,1,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,23,8,1,6.0,3,5,1,4,0,1
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,15,8,3,5.0,2,5,0,3,1,0
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,11,8,3,13.0,5,8,7,5,1,0
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,12,8,2,9.0,2,6,0,4,1,0

In [6]:
df.corr()

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,No,Yes
Age,1.000000,0.006963,-0.035706,NaN,0.008649,-0.002884,-0.044314,0.299243,-0.033137,NaN,-0.031753,0.680661,-0.027308,0.311309,0.216513,0.202089,0.159205,-0.159205
DistanceFromHome,0.006963,1.000000,-0.008638,NaN,-0.001097,-0.037329,-0.021607,-0.013843,0.038125,NaN,0.011169,0.009374,-0.009001,0.031684,0.002290,0.021584,0.009730,-0.009730
Education,-0.035706,-0.008638,1.000000,NaN,-0.009680,0.045746,0.006410,-0.016250,-0.040531,NaN,0.001261,-0.010717,0.010472,0.006080,0.022490,0.005358,0.015111,-0.015111
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008649,-0.001097,-0.009680,NaN,1.000000,-0.003303,0.007338,-0.001117,-0.004456,NaN,-0.014254,-0.001063,-0.010191,0.004086,0.000256,0.008579,0.004729,-0.004729
JobLevel,-0.002884,-0.037329,0.045746,NaN,-0.003303,1.000000,0.047316,-0.009875,0.010973,NaN,0.000993,-0.036957,-0.032500,-0.064219,-0.060811,-0.055251,0.010290,-0.010290
MonthlyIncome,-0.044314,-0.021607,0.006410,NaN,0.007338,0.047316,1.000000,-0.020726,0.004325,NaN,0.026930,-0.033787,0.050112,0.000995,0.065219,0.024304,0.031176,-0.031176
NumCompaniesWorked,0.299243,-0.013843,-0.016250,NaN,-0.001117,-0.009875,-0.020726,1.000000,0.030860,NaN,0.017163,0.238807,-0.032286,-0.117959,-0.036656,-0.109667,-0.042345,0.042345
PercentSalaryHike,-0.033137,0.038125,-0.040531,NaN,-0.004456,0.010973,0.004325,0.030860,1.000000,NaN,0.012548,-0.018736,-0.037392,-0.029707,-0.029542,-0.040864,-0.032533,0.032533
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031753,0.011169,0.001261,NaN,-0.014254,0.000993,0.026930,0.017163,0.012548,NaN,1.000000,0.002694,-0.069902,0.007886,0.019063,0.017757,0.006839,-0.006839
TotalWorkingYears,0.680661,0.009374,-0.010717,NaN,-0.001063,-0.036957,-0.033787,0.238807,-0.018736,NaN,0.002694,1.000000,-0.040762,0.627703,0.404444,0.458800,0.170338,-0.170338
TrainingTimesLastYear,-0.027308,-0.009001,0.010472,NaN,-0.010191,-0.032500,0.050112,-0.032286,-0.037392,NaN,-0.069902,-0.040762,1.000000,-0.007894,0.016121,-0.013270,0.049431,-0.049431
YearsAtCompany,0.311309,0.031684,0.006080,NaN,0.004086,-0.064219,0.000995,-0.117959,-0.029707,NaN,0.007886,0.627703,-0.007894,1.000000,0.618409,0.769212,0.134392,-0.134392
YearsSinceLastPromotion,0.216513,0.002290,0.022490,NaN,0.000256,-0.060811,0.065219,-0.036656,-0.029542,NaN,0.019063,0.404444,0.016121,0.618409,1.000000,0.510224,0.033019,-0.033019
YearsWithCurrManager,0.202089,0.021584,0.005358,NaN,0.008579,-0.055251,0.024304,-0.109667,-0.040864,NaN,0.017757,0.458800,-0.013270,0.769212,0.510224,1.000000,0.156199,-0.156199
No,0.159205,0.009730,0.015111,NaN,0.004729,0.010290,0.031176,-0.042345,-0.032533,NaN,0.006839,0.170338,0.049431,0.134392,0.033019,0.156199,1.000000,-1.000000
Yes,-0.159205,-0.009730,-0.015111,NaN,-0.004729,-0.010290,-0.031176,0.042345,0.032533,NaN,-0.006839,-0.170338,-0.049431,-0.134392,-0.033019,-0.156199,-1.000000,1.000000

## Correlation is Attrition is yes and Age is Negative

In [8]:
stats,p = pearsonr(df["Yes"],df["Age"])
print(stats,p)

-0.15920500686577965 1.996801615886744e-26

## Correlation is Attrition is yes and DistanceFromHome is Negative

In [10]:
stats,p = pearsonr(df["Yes"],df["DistanceFromHome"])
print(stats,p)

-0.009730141010179674 0.5182860428050771

## Correlation is Attrition is yes and Education is Negative

In [11]:
stats,p = pearsonr(df["Yes"],df["Education"])
print(stats,p)

-0.015111167710968713 0.3157293177118575

## Correlation is Attrition is yes and EmployeeCount is NOT VALID

In [28]:
stats,p = pearsonr(df["Yes"],df["EmployeeCount"].fillna(0))
print(stats,p)

nan nan

## Correlation is Attrition is yes and EmployeeID is Negative

In [14]:
stats,p = pearsonr(df["Yes"],df["EmployeeID"])
print(stats,p)

-0.004729122995066087 0.7535487401886252

## Correlation is Attrition is yes and JobLevel is Negative

In [15]:
stats,p = pearsonr(df["Yes"],df["JobLevel"])
print(stats,p)

-0.010289713287495042 0.49451717271828405

## Correlation is Attrition is yes and MonthlyIncome is Negative

In [16]:
stats,p = pearsonr(df["Yes"],df["MonthlyIncome"])
print(stats,p)

-0.031176281698115007 0.03842748490600132

## Correlation is Attrition is yes and NumCompaniesWorked is Positive

In [18]:
stats,p = pearsonr(df["Yes"],df["NumCompaniesWorked"].fillna(0))
print(stats,p)

0.04150332971190174 0.00584142424757884

## Correlation is Attrition is yes and PercentSalaryHike is Positive

In [19]:
stats,p = pearsonr(df["Yes"],df["PercentSalaryHike"].fillna(0))
print(stats,p)

0.03253259489105349 0.030743386433355353

## Correlation is Attrition is yes and StockOptionLevel is Negative

In [21]:
stats,p = pearsonr(df["Yes"],df["StockOptionLevel"].fillna(0))
print(stats,p)

-0.006838852403261513 0.6498072937475723

## Correlation is Attrition is yes and TotalWorkingYears is Negative

In [23]:
stats,p = pearsonr(df["Yes"],df["TotalWorkingYears"].fillna(0))
print(stats,p)

-0.17023794049182428 4.959687383334802e-30

## Correlation is Attrition is yes and TrainingTimesLastYear is Negative

In [24]:
stats,p = pearsonr(df["Yes"],df["TrainingTimesLastYear"].fillna(0))
print(stats,p)

-0.049430576244255 0.0010247061915365072

## Correlation is Attrition is yes and YearsAtCompany is Negative

In [26]:
stats,p = pearsonr(df["Yes"],df["YearsAtCompany"].fillna(0))
print(stats,p)

-0.1343922139899772 3.1638831224877484e-19

## Correlation is Attrition is yes and YearsSinceLastPromotion is Negative

In [27]:
stats,p = pearsonr(df["Yes"],df["YearsSinceLastPromotion"].fillna(0))
print(stats,p)

-0.03301877514258434 0.028330336189396753

## Correlation is Attrition is yes and YearsWithCurrManager is Negative

In [29]:
stats,p = pearsonr(df["Yes"],df["YearsWithCurrManager"].fillna(0))
print(stats,p)

-0.15619931590162847 1.7339322652896276e-25