# Project 8

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_excel("Building_rates.xlsx",sheet_name="Linear Regression")

In [3]:
dataset.head(5)

    price  sqft_living  bedrooms  bathrooms  floors
0  221900         1180         3       1.00     1.0
1  538000         2570         3       2.25     2.0
2  180000          770         2       1.00     1.0
3  604000         1960         4       3.00     1.0
4  510000         1680         3       2.00     1.0

In [4]:
df = dataset.round()
df.head(2)

    price  sqft_living  bedrooms  bathrooms  floors
0  221900         1180         3        1.0     1.0
1  538000         2570         3        2.0     2.0

In [5]:
df.isna().sum().to_frame().T

   price  sqft_living  bedrooms  bathrooms  floors
0      0            0         0          0       0

### Taking out dependent and independent variables

In [6]:
X = df.iloc[:,1:]
X.head(2)

   sqft_living  bedrooms  bathrooms  floors
0         1180         3        1.0     1.0
1         2570         3        2.0     2.0

In [7]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sqft_living  21613 non-null  int64
 1   bedrooms     21613 non-null  int64
 2   bathrooms    21613 non-null  float64
 3   floors       21613 non-null  float64
dtypes: float64(2), int64(2)
memory usage: 675.5 KB

In [8]:
y = df.iloc[:,0:1]
y.head(2)

    price
0  221900
1  538000

### Splitting for Train and test

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

### Applying LinearRegression Algo

In [10]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [11]:
# fitting the dataset into the algo to create the model
lr.fit(X, y)

LinearRegression()

In [12]:
# Predicting using test data
y_pred=lr.predict(X_test)

### Checking predicted and test values accuracy

In [13]:
from sklearn.metrics import r2_score
r2_score(y_pred, y_test)

0.10929299177999507

Predictive model's accuracy is very low suggesting that its not a very good model, partly because the prices mentioned along with the building data is not entirely complete, not mentioning about the luxuriousness or the simplicity and the amenities of the building which drivies the prices.

# Model Deployment

In [14]:
# Here, we will save the 'lr' model to disk as 'model.py'

import pickle

pickle.dump(lr,open('model.pkl','wb'))
# Dump this model by the name "model.py" in the systems HDD and while doing this
# write this file using "write bytes" mode.

In [15]:
# Lets now try to load the same model by reading it from the system
# and using it for prediction

model2 = pickle.load(open("model.pkl","rb"))

In [17]:
model2.predict([[1180, 3, 1, 1]])

array([[255760.57945693]])

In [18]:
model2.predict([[2570, 3, 2, 2]])

array([[707827.21569463]])