Question 1:<br/>
Assuming that we have some email addresses in the "username@companyname.com" format, please write programto print the company name of a given email address. Both user names and company names are composed of lettersonly

In [3]:
import re 
pattern="(.*)@(.*)\.com"
inpstr=input()
m=re.match(pattern,inpstr)
if m:
    print(m.group(2))

surya@google.com
google

Question 2:<br/>Write a program that accepts a comma-separated sequence of words as input and prints the words in a commaseparated sequence after sorting them alphabetically.

In [22]:
csvstr=input()
l=csvstr.split(",")
l.sort()
print(",".join(l))

without,hello,bag,world
bag,hello,without,world

Question 3:<br/>Create your own Jupyter Notebook for Sets.Reference link: https://www.w3schools.com/python/python_sets.asp

Set

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.
Example

Create a Set:

In [24]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

Access Items

You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.
Example

Loop through the set, and print the values:

In [25]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [26]:
Example

Check if "banana" is present in the set:

SyntaxError: invalid syntax (<ipython-input-26-61b7e18f3310>, line 3)

Change Items

Once a set is created, you cannot change its items, but you can add new items.
Add Items

To add one item to a set use the add() method.

To add more than one item to a set use the update() method.
Example

Add an item to a set, using the add() method:

In [27]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'banana', 'apple', 'orange'}

Example

Add multiple items to a set, using the update() method:

In [28]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'banana', 'mango', 'apple', 'grapes', 'cherry', 'orange'}

Get the Length of a Set

To determine how many items a set has, use the len() method.
Example

Get the number of items in a set:

In [29]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

Remove Item

To remove an item in a set, use the remove(), or the discard() method.
Example

Remove "banana" by using the remove() method:

In [30]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}



Note: If the item to remove does not exist, remove() will raise an error.
Example

Remove "banana" by using the discard() method:

In [31]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}



Note: If the item to remove does not exist, discard() will NOT raise an error.

You can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.
Example

Remove the last item by using the pop() method:

In [32]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'banana', 'apple'}



Note: Sets are unordered, so when using the pop() method, you will not know which item that gets removed.
Example

The clear() method empties the set:

In [33]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

Example

The del keyword will delete the set completely:

In [35]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

Join Two Sets

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:
Example

The union() method returns a new set with all items from both sets:

In [36]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

Example

The update() method inserts the items in set2 into set1:

In [37]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

Note: Both union() and update() will exclude any duplicate items.

There are other methods that joins two sets and keeps ONLY the duplicates, or NEVER the duplicates, check the full list of set methods in the bottom of this page.
The set() Constructor

It is also possible to use the set() constructor to make a set.
Example

Using the set() constructor to make a set:

In [38]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

Set Methods

Python has a set of built-in methods that you can use on sets.<br/>
Method 	Description<br/>
add()	Adds an element to the set<br/>
clear()	Removes all the elements from the set<br/>
copy()	Returns a copy of the set<br/>
difference()	Returns a set containing the difference between two or more sets<br/>
difference_update()	Removes the items in this set that are also included in another, specified set<br/>
discard()	Remove the specified item<br/>
intersection()	Returns a set, that is the intersection of two other sets<br/>
intersection_update()	Removes the items in this set that are not present in other, specified set(s)<br/>
isdisjoint()	Returns whether two sets have a intersection or not<br/>
issubset()	Returns whether another set contains this set or not<br/>
issuperset()	Returns whether this set contains another set or not<br/>
pop()	Removes an element from the set<br/>
remove()	Removes the specified element<br/>
symmetric_difference()	Returns a set with the symmetric differences of two sets<br/>
symmetric_difference_update()	inserts the symmetric differences from this set and another<br/>
union()	Return a set containing the union of sets<br/>
update()	Update the set with the union of this set and others<br/>

Question 4:<br/>Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [42]:
n=list(map(int,input().split()))
for i in range(1,max(n)):
    if i not in n:
        print(i)

1 2 4 6 3 7 8
5

Question 5:<br/>With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [65]:
l=list(map(int,input().split()))
dl=[]
for i in l:
    if i not in dl:
        dl.append(i)
print(dl)

12 24 35 24 88 120 155 88 120 155
[12, 24, 35, 88, 120, 155]