In [1]:
import pandas as pd

In [6]:
df=pd.read_csv("general_data.csv")

In [8]:
df

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

### Take the data which attrition is Yes

In [57]:
df=df.loc[df['Attrition'] == "Yes"]

### Hypothesis 1 </br>
Attrition is more who travel rarely

In [58]:
column = "BusinessTravel" 
print(df[column].value_counts())

Travel_Rarely        468
Travel_Frequently    207
Non-Travel            36
Name: BusinessTravel, dtype: int64

### Hypothesis 2 </br>
Attrition is more whose years at company is less than a year.

In [61]:
column = "YearsAtCompany"
print(df[column].value_counts())

1     177
2      81
5      63
3      60
4      57
10     54
0      48
7      33
6      27
8      27
9      24
13      6
11      6
14      6
33      3
15      3
16      3
17      3
18      3
19      3
20      3
21      3
22      3
23      3
24      3
31      3
32      3
40      3
Name: YearsAtCompany, dtype: int64

### Hypothesis 3 </br>
Attrition is more whose Department is Research & Development

In [54]:
column = "Department" 
print(df[column].value_counts())

Research & Development    453
Sales                     201
Human Resources            57
Name: Department, dtype: int64

### Hypothesis 4 </br>
Attrition is more whose EducationField  is Life Sciences

In [53]:
column = "EducationField" 
print(df[column].value_counts())

Life Sciences       303
Medical             225
Marketing            75
Technical Degree     45
Human Resources      33
Other                30
Name: EducationField, dtype: int64

### Hypothesis 5 </br>
Attrition is more Among Male Employees

In [52]:
column = "Gender" 
print(df[column].value_counts())

Male      441
Female    270
Name: Gender, dtype: int64

### Hypothesis 6 </br>
Attrition is more whose Job Role is Sales Executive

In [51]:
column = "JobRole" 
print(df[column].value_counts())

Sales Executive              165
Research Scientist           159
Laboratory Technician        126
Healthcare Representative     57
Research Director             57
Manufacturing Director        48
Manager                       42
Sales Representative          36
Human Resources               21
Name: JobRole, dtype: int64

### Hypothesis 7 </br>
Attrition is more who are not married and Single.

In [50]:
column = "MaritalStatus" 
print(df[column].value_counts())

Single      360
Married     252
Divorced     99
Name: MaritalStatus, dtype: int64

### Hypothesis 8 </br>
Attrition is more who did not work in more than One company.

In [49]:
column = "NumCompaniesWorked" 
print(df[column].value_counts())

1.0    293
0.0     69
7.0     51
4.0     50
6.0     48
3.0     48
2.0     48
5.0     46
9.0     36
8.0     18
Name: NumCompaniesWorked, dtype: int64

### Hypothesis 9 </br>
Attrition is more whose Salary Hike is less than 15 percent .

In [48]:
column = "PercentSalaryHike" 
print(df[column].value_counts())

13    102
12     90
11     90
14     87
15     63
17     45
19     42
18     39
22     30
16     30
21     27
20     27
25     15
23     15
24      9
Name: PercentSalaryHike, dtype: int64

### Hypothesis 10 </br>
Attrition is more whose working experience is less than 1 year .

In [47]:
column = "TotalWorkingYears" 
print(df[column].value_counts())

1.0     119
10.0     75
6.0      66
7.0      54
5.0      48
8.0      47
4.0      36
9.0      30
3.0      27
2.0      27
11.0     21
0.0      15
15.0     15
12.0     15
18.0     12
14.0     12
19.0      9
24.0      9
16.0      9
17.0      9
13.0      9
40.0      6
22.0      6
20.0      6
23.0      6
25.0      3
33.0      3
21.0      3
26.0      3
31.0      3
28.0      3
34.0      3
Name: TotalWorkingYears, dtype: int64

### Hypothesis 11 </br>
Attrition is more whose recently got promotion .

In [46]:
column = "YearsSinceLastPromotion" 
print(df[column].value_counts())

0     330
1     147
2      81
7      48
3      27
6      18
4      15
9      12
15      9
13      6
11      6
5       6
14      3
10      3
Name: YearsSinceLastPromotion, dtype: int64

### Hypothesis 12 </br>
Attrition is more whose years with current manager is less .

In [45]:
column = "YearsWithCurrManager" 
print(df[column].value_counts())

0     255
2     150
7      93
3      57
4      33
1      33
8      30
9      18
6      12
5      12
10      9
14      6
11      3
Name: YearsWithCurrManager, dtype: int64